<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="https://cse120-2021-kristine.herokuapp.com/css/dashboard.css">
<title>Dashboard</title>
</head>
<body >

<h1><center>Kristine's Dashboard</center></h1><br><br><br><br><br><br>
<a href="https://cse120-2021-kristine.herokuapp.com/"><center><strong>Admin Page</strong></center></a><br>
<a href="Hobby"><center>Hobby Survey</center></a><br>
<img src="views/ICON.png">
</body>
</html>
