<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/dashboard.css">
<title>Dashboard</title>
</head>
<body >

<h1><center>Kristine's Dashboard</center></h1><br><br><br><br><br><br>
<a href="admin"><center><strong>Admin Page</strong></center></a><br>
<a href="Hobby"><center>Hobby Survey</center></a><br>
<a href="Book"><center>Book Survey</center></a><br>
<img src="/images/ICON.png">
</body>
</html>
